@import '../../../global';
.zone-page-wrapper {
  min-height: 900px;
  background-color: #028090;
  padding: 0 5%;
  position: relative;
  .zone-title {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: $white;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 40px;
    .create-zone-button {
      font-family: 'Montserrat', sans-serif;
      color: $white;
      width: 120px;
      height: 40px;
      background: none;
      border: 1px solid $light-blue;
      border-radius: 8px;
      cursor: pointer;
      margin-left: 30px;
    }
    .create-zone {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      input {
        margin-right: 10px;
        width: 150px;
        height: 30px;
        padding: 2px 8px;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 38px;
        outline: none;
        position: relative;
        transition: all 100ms;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        &:focus {
          border-color: $light-blue;
          box-shadow: 0 0 0 1px $light-blue;
        }

        &::placeholder {
          color: hsl(0, 0%, 50%);
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
        }
      }
      .create-zone-button {
        width: 80px;
        height: 38px;
        background: none;
        border: 1px solid $light-blue;
        font-weight: 400;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        margin-left: 0;
        align-items: center;
        color: $white;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
      }
    }
  }
  .zone-wrapper {
    height: 100%;
    min-height: 750px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $white;
  }
}