@import '../../../../global';
.path-item-wrapper {
  display: flex;
  height: 100%;
  width: max-content;
  margin-bottom: 50px;
  border-radius: 20px;
  .info-routes-wrapper {
    background-color: $white;
    border-radius: 20px 0 0 20px;
    width: max-content;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    .route-info-title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
      margin-left: 50px;
    }
    .route-time-and-cost-wrapper {
      display: flex;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 12px;
      margin-left: 50px;
      margin-bottom: 20px;
      .route-total-cost {
        margin-right: 15px;
        margin-bottom: 5px;
      }
      .route-total-duration {
        margin-right: 15px;
        margin-bottom: 5px;
      }
      .route-total-weight {
        margin-bottom: 5px;
      }
    }

    .choose-button {
      position: absolute;
      margin-left: -75px;
      left: 50%;
      bottom: -20px;
      width: 150px;
      height: 40px;
      background-color: $light-blue;
      border: none;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      cursor: pointer;
    }

  }
  #HERE_MAP_CONTAINER.here-map-container {
    border-radius: 0 20px 20px 0;
    min-height: 400px;
    width: 580px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .path-item-wrapper {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .path-item-wrapper {
    width: 730px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .path-item-wrapper {
    width: 100%;
    flex-wrap: wrap;
    .info-routes-wrapper {
      border-radius: 20px 20px 0 0;
      width: 85%;
      .choose-button {
        z-index: 100;
      }
    }
    #HERE_MAP_CONTAINER.here-map-container {
      border-radius: 0 20px 20px 0;
      min-height: 400px;
      width: 94%;
    }
  }
}

