@import '../../../../global';
.path-item-wrapper {
  display: flex;
  height: 100%;
  width: 1000px;
  margin-bottom: 50px;
  border-radius: 20px;
  .info-routes-wrapper {
    background-color: $white;
    border-radius: 20px 0 0 20px;
    width: 420px;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    .route-info-title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
      margin-left: 50px;
    }
    .route-time-and-cost-wrapper {
      display: flex;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 12px;
      margin-left: 50px;
      .route-total-cost {
        margin-right: 15px;
        margin-bottom: 5px;
      }
      .route-total-duration {
        margin-right: 15px;
        margin-bottom: 5px;
      }
      .route-total-weight {
        margin-bottom: 5px;
      }
    }

    .choose-button {
      position: absolute;
      margin-left: -75px;
      left: 50%;
      bottom: -20px;
      width: 150px;
      height: 40px;
      background-color: $light-blue;
      border: none;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      cursor: pointer;
    }

    .type-of-route-wrapper {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .step-circle {
        border-radius: 50%;
        background-color: $light-blue;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $white;
      }
     .step-wrapper {
       .source {
         font-weight: 700;
         margin-bottom: 10px;
       }
       .route-info {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         font-family: 'Montserrat', sans-serif;
         font-weight: 400;

         .truck {
           width: 40px;
         }

         .airplane {
           width: 40px;
         }

         .train {
           width: 40px;
         }

         .route-distance {
           color: black;
           opacity: 0.4;
           font-size: 14px;
           margin-right: 10px;
         }
         .route-duration {
           color: black;
           opacity: 0.4;
         }
         .type{
           margin-bottom: 5px;
           margin-right: 10px;
         }
       }
       .destination {
         font-weight: 700;
         margin-bottom: 5px;
       }
     }
    }
  }
  #HERE_MAP_CONTAINER.here-map-container {
    border-radius: 0 20px 20px 0;
    min-height: 400px;
    width: 580px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .path-item-wrapper {
    width: 950px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .path-item-wrapper {
    width: 730px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .path-item-wrapper {
    width: 100%;
    flex-wrap: wrap;
    .info-routes-wrapper {
      border-radius: 20px 20px 0 0;
      width: 85%;
      .choose-button {
        z-index: 100;
      }
    }
    #HERE_MAP_CONTAINER.here-map-container {
      border-radius: 0 20px 20px 0;
      min-height: 400px;
      width: 94%;
    }
  }
}

