@import "../../../../global";
.filter-panel {
  width: 98%;
  height: max-content;
  background: $white;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  .filter-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .all-filters-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    .type-filter {
      width: 250px;
      margin-right: 30px;
      input {
        width: 170px;
        padding: 2px 8px;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 38px;
        outline: none;
        position: relative;
        transition: all 100ms;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        &:focus {
          border-color: $light-blue;
          box-shadow: 0 0 0 1px $light-blue;
        }

        &::placeholder {
          color: hsl(0, 0%, 50%);
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
        }
      }
      .type-title {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .clear-filter-button {
    width: 130px;
    height: 30px;
    background-color: $light-blue;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }
}