@import "../../global";
.advantages-page {
  position: relative;
  height: 800px;
  background-color: $dark-blue;
  padding: 0 5%;

  .advantages-block {
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -30px;
    left: 50%;
    margin-left: -320px;
    width: 647px;
    height: 185px;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;


    .advantages-title {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      margin-bottom: 30px;

      .hundred {
        color: $light-blue;
      }
    }


    .advantages-group {
      display: inherit;

      .plus {
        display: inherit;
        margin-right: 25px;

        img {
          margin-right: 5px;
        }
      }
    }
  }

  .title {
    position: absolute;
    top: 250px;
    font-family: 'Montserrat', sans-serif;
    color: $white;
    font-weight: 600;
    font-size: 36px;
  }

  .advantages-wrapper {
    left: 50%;
    margin-left: -560px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 350px;


  }
}