@import "../../../global";
.country-form-wrapper {
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  .from-form-wrapper {
    width: 470px;
    height: 240px;
    background-color: $white;
    padding: 40px 30px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 5px 5px -5px #333;

    .from-form-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .from-form-title {
        font-weight: 400;
        font-size: 24px;
        color: black;
      }

      .from-form-text {
        font-weight: 400;
        font-size: 12px;
        color: black;
        opacity: 0.4;
      }
    }

    .country-select-from {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }

      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        outline: none;
      }
    }

    .city-select-from {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;

      .react-select__control {
        border-color: red;
      }

      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }

      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        outline: none;
      }
    }

    .place-select-to {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      .place-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: white;
        border: 1px solid hsl(0, 0%, 80%);
        cursor: pointer;
        outline: none;

        &:nth-child(1) {
          border-radius: 8px 0 0 8px;
        }

        &:nth-child(4) {
          border-radius: 0 8px 8px 0;
        }
      }

      .active-city-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;

        &:nth-child(1) {
          border-radius: 8px 0 0 8px;
        }
      }

      .active-sea-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;
      }

      .active-air-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;
      }

      .active-train-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;

        &:nth-child(4) {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }
  .where-form-wrapper {
    width: 470px;
    height: 240px;
    background-color: $white;
    padding: 40px 30px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 5px 5px -5px #333;
    .where-form-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .where-form-title {
        font-weight: 400;
        font-size: 24px;
        color: black;
      }
      .where-form-text {
        font-weight: 400;
        font-size: 12px;
        color: black;
        opacity: 0.4;
      }
    }
    .country-select-where {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        &:focus {
          outline: none;
        }
      }
    }
    .place-select-where {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      .place-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: white;
        border: 1px solid hsl(0, 0%, 80%);
        cursor: pointer;
        outline: none;

        &:nth-child(1) {
          border-radius: 8px 0 0 8px;
        }
        &:nth-child(4) {
          border-radius: 0 8px 8px 0;
        }
      }
      .active-city-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;
        &:nth-child(1) {
          border-radius: 8px 0 0 8px;
        }
      }
      .active-sea-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;
      }
      .active-air-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;
      }
      .active-train-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 117px;
        height: 35px;
        background: $light-blue;
        border: none;
        cursor: pointer;
        color: $white;
        outline: none;
        &:nth-child(4) {
          border-radius: 0 8px 8px 0;
        }
      }
    }
    .city-select-where {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      .react-select__control {
        border-color: red;
      }
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        outline: none;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .country-form-wrapper {
    width: 962px;
    .from-form-wrapper {
      width: 400px;
      .place-select-to {
        .place-button {
          font-size: 12px;
        }
        .active-city-button {
          font-size: 12px;
        }
        .active-sea-button {
          font-size: 12px;
        }
        .active-train-button {
          font-size: 12px;
        }
        .active-air-button {
          font-size: 12px;
        }
      }
    }
    .where-form-wrapper {
      width: 400px;
      .place-select-where {
        .place-button {
          font-size: 12px;
        }
        .active-city-button {
          font-size: 12px;
        }
        .active-sea-button {
          font-size: 12px;
        }
        .active-train-button {
          font-size: 12px;
        }
        .active-air-button {
          font-size: 12px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .country-form-wrapper {
    flex-direction: column;
    margin-top: 30px;
    .from-form-wrapper {
      width: 630px;
      margin-bottom: 20px;
    }
    .where-form-wrapper {
      width: 630px;
    }
  }
}
@media (max-width: 767px) {
  .country-form-wrapper {
    flex-direction: column;
    margin-top: 30px;
    .from-form-wrapper {
      width: 400px;
      margin-bottom: 20px;
      .place-select-to {
        .place-button {
          font-size: 12px;
        }
        .active-city-button {
          font-size: 12px;
        }
        .active-air-button {
          font-size: 12px;
        }
        .active-train-button {
          font-size: 12px;
        }
        .active-sea-button {
          font-size: 12px;
        }
      }
    }
    .where-form-wrapper {
      width: 400px;
      .place-select-where {
        .place-button {
          font-size: 12px;
        }
        .active-city-button {
          font-size: 12px;
        }
        .active-air-button {
          font-size: 12px;
        }
        .active-train-button {
          font-size: 12px;
        }
        .active-sea-button {
          font-size: 12px;
        }
      }
    }
  }
}