@import "../../../global.scss";

.choose-tiles-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  .choose-tile {
    background: $white;
    border-radius: 20px;
    padding: 40px 30px;
    width: 480px;

    .tile-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .title {
        @extend %tile-title;
      }

      .text {
        font-size: 14px;
        opacity: .4;
      }
    }

    .country-select {
      margin-bottom: 16px;

      .select-title {
        @extend %label;
      }

      .select {
        margin-top: 10px;
      }
    }

    .place-switcher {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 16px;

      .place-switcher-title {
        @extend %label;
        margin-bottom: 10px;
      }

      .switcher-buttons {
        width: 100%;
        .ant-btn {
          .place-wrapper {
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }

    .city-select {
      margin-bottom: 16px;
      height: 80px;
      .select-title {
        @extend %label;
      }

      .select {
        margin-top: 10px;
        .city-select__control {
          .city-select__placeholder {

          }
        }
        .select__control {
          border: 1px solid red;
          .select__placeholder {
          }
        }
      }
    }

    .prompt-block {
      @extend %label;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .choose-tiles-wrapper {
    margin-top: 60px;

    .choose-tile {
      width: 40%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .choose-tiles-wrapper {
    flex-direction: column;
    margin-top: 40px;

    .choose-tile {
      width: 95%;
      padding: 28px 18px;
      margin-bottom: 20px;

      .place-switcher {
        .switcher-buttons {
          .place-button {
            width: 25%;
          }

          .active-place-button {
            width: 25%;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .ant-row {
    flex-flow: column;
  }
  .choose-tiles-wrapper {
    flex-direction: column !important;
    margin-top: 20px;
    .ant-col-11 {
      max-width: 100%;
    }
    .choose-tile {
      width: 95%;
      padding: 20px 10px;
      margin-bottom: 20px;

      .tile-title-wrapper {
        .title {
          font-size: 18px;
        }

        .text {
          font-size: 10px;
        }
      }
    }

    .place-switcher {
      .switcher-buttons {
        display: flex;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          width: 62px !important;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
        }
      }
    }

    .city-select {
      .city-select__placeholder {

      }
    }

    .prompt-block {
      font-size: 12px !important;
    }
  }
}
