@import "../../../global";

.choose-tiles-wrapper {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;

  .choose-tile {
    background: $white;
    border-radius: 20px;
    padding: 40px 30px;
    width: 480px;

    .tile-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .title {
        @extend %tile-title;
      }

      .text {
        font-size: 14px;
        opacity: .4;
      }
    }

    .country-select {
      margin-bottom: 16px;

      .select-title {
        @extend %label;
      }

      .select {
        margin-top: 10px;
      }
    }

    .place-switcher {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 16px;

      .place-switcher-title {
        @extend %label;
        margin-bottom: 10px;
      }

      .switcher-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        .place-button {
          font-family: 'Montserrat', sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px;
          border: 1px solid hsl(0, 0%, 80%);
          width: 96px;
          height: 38px;
          background: $white;
          outline: none;
          cursor: pointer;

          &:nth-child(1) {
            border-radius: 4px 0 0 4px;
          }

          &:nth-child(5) {
            border-radius: 0 4px 4px 0;
          }
        }

        .active-place-button {
          font-family: 'Montserrat', sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px;
          width: 96px;
          height: 38px;
          background: $light-blue;
          cursor: pointer;
          outline: none;
          border: none;
          color: $white;

          &:nth-child(1) {
            border-radius: 4px 0 0 4px;
          }

          &:nth-child(5) {
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }

    .city-select {
      margin-bottom: 16px;

      .select-title {
        @extend %label;
      }

      .select {
        margin-top: 10px;

        .select__control {
          border: 1px solid red;
        }
      }
    }

    .prompt-block {
      @extend %label;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .country-form-wrapper {
    width: 962px;

    .from-form-wrapper {
      width: 400px;

      .place-select-to {
        .place-button {
          font-size: 12px;
        }

        .active-city-button {
          font-size: 12px;
        }

        .active-sea-button {
          font-size: 12px;
        }

        .active-train-button {
          font-size: 12px;
        }

        .active-air-button {
          font-size: 12px;
        }
      }
    }

    .where-form-wrapper {
      width: 400px;

      .place-select-where {
        .place-button {
          font-size: 12px;
        }

        .active-city-button {
          font-size: 12px;
        }

        .active-sea-button {
          font-size: 12px;
        }

        .active-train-button {
          font-size: 12px;
        }

        .active-air-button {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .country-form-wrapper {
    flex-direction: column;
    margin-top: 30px;

    .from-form-wrapper {
      width: 630px;
      margin-bottom: 20px;
    }

    .where-form-wrapper {
      width: 630px;
    }
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .country-form-wrapper {
    flex-direction: column;
    margin-top: 30px;
    width: 100%;

    .from-form-wrapper {
      width: 80%;
      margin-bottom: 20px;

      .place-select-to {
        .place-button {
          font-size: 12px;
        }

        .active-city-button {
          font-size: 12px;
        }

        .active-air-button {
          font-size: 12px;
        }

        .active-train-button {
          font-size: 12px;
        }

        .active-sea-button {
          font-size: 12px;
        }
      }
    }

    .where-form-wrapper {
      width: 80%;

      .place-select-where {
        .place-button {
          font-size: 12px;
        }

        .active-city-button {
          font-size: 12px;
        }

        .active-air-button {
          font-size: 12px;
        }

        .active-train-button {
          font-size: 12px;
        }

        .active-sea-button {
          font-size: 12px;
        }
      }
    }
  }
}
