@import "../../../global";
.country-form-wrapper {
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  .from-form-wrapper {
    width: 470px;
    height: 270px;
    background-color: $white;
    padding: 40px 30px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 5px 5px -5px #333;
    .from-form-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .from-form-title {
        font-weight: 400;
        font-size: 24px;
        color: black;
      }
      .from-form-text {
        font-weight: 400;
        font-size: 12px;
        color: black;
        opacity: 0.4;
      }
    }
    .country-select-from {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        outline: none;
      }
    }
    .city-select-from {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      .warning-border {
        width: 470px;
        height: 40px;
        border: 1px solid red;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        outline: none;
      }
    }
    .place-select-from {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .where-form-wrapper {
    width: 470px;
    height: 270px;
    background-color: $white;
    padding: 40px 30px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 5px 5px -5px #333;
    .where-form-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .where-form-title {
        font-weight: 400;
        font-size: 24px;
        color: black;
      }
      .where-form-text {
        font-weight: 400;
        font-size: 12px;
        color: black;
        opacity: 0.4;
      }
    }
    .country-select-where {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        &:focus {
          outline: none;
        }
      }
    }
    .city-select-where {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      .warning-border {
        width: 470px;
        height: 40px;
        border: 1px solid red;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        outline: none;
      }
    }
    .place-select-where {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      label {
        color: black;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.4;
        margin-bottom: 10px;
      }
      select {
        width: 470px;
        height: 40px;
        border: 1px solid $light-blue;
        border-radius: 0 2px 2px 0;
        padding: 0 5px 0 12px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}