@import "../../../global";

.cargo-wrapper {
  border: 1px solid gray;
  box-shadow: 0 5px 5px -5px #333;
  width: 1100px;
  min-height: 250px;
  padding: 40px 30px;
  border-radius: 20px;
  background-color: $white;

  .cargo-warning {
    margin-top: 30px;
    color: red;
  }

  .add-cargo-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 4px;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-blue;
    background: none;
    cursor: pointer;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;

    .cargo-all-info {
      font-size: 14px;
      color: black;
      opacity: 0.4;
    }

    .cargo-title {
      @extend %tile-title;
      margin-bottom: 15px;
    }
  }

  .cargo-choice {
    color: black;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    margin-bottom: 40px;

    .active-box-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $light-blue;
      width: 195px;
      height: 40px;
      border-radius: 10px;
      background-color: $light-blue;
      color: $white;
      cursor: pointer;
    }
  }

  .cargo-input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;

    .input-cargo-example {
      display: flex;
      flex-direction: column;
      margin-right: 40px;

      .input-cargo-label {
        @extend %label;
        margin-bottom: 10px;
      }

      .cargo-input {
        @extend %input;
      }

      .choose-cargo-select {
        width: 130px;
      }

      .dimensions-box-wrapper,
      .dimensions-pallet-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;


        .box-units-wrapper {
          .cargo-input {
            @extend %input;
          }

          .length {
            border-radius: 4px 0 0 4px;
          }

          .width {
            border-radius: 0;
          }

          .height {
            border-radius: 0;
          }
        }

        .pallet-units-wrapper {
          display: flex;
          flex-direction: row;

          .pallet-length {
            @extend %input;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 4px 0 0 4px;
          }

          .width-pallet {
            width: 118px;

            .width-pallet__control {
              border-radius: 0;
            }
          }

          .cargo-input {
            @extend %input;
            border-radius: 0;
          }
        }

        .dimensions-box-select,
        .dimensions-pallet-select {
          width: 80px;

          .dimensions-box-select__control,
          .dimensions-pallet-select__control {
            border-radius: 0 4px 4px 0;
          }
        }
      }

      .weight-cargo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .cargo-input {
          @extend %input;
          border-radius: 4px 0 0 4px;
          width: 60px;
        }

        .weight-select {
          width: 80px;

          .weight-select__control {
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }

    .trash-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
