@import "../../../global";

.cargo-wrapper {
  border: 1px solid gray;
  box-shadow: 0 5px 5px -5px #333;
  width: 1100px;
  min-height: 250px;
  padding: 40px 30px;
  border-radius: 20px;
  background-color: $white;

  .cargo-warning {
    margin-top: 30px;
    color: red;
  }

  .add-cargo-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 4px;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-blue;
    background: none;
    cursor: pointer;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .cargo-all-info {
      font-size: 14px;
      color: black;
      opacity: 0.4;
    }

    .cargo-title {
      @extend %tile-title;
    }
  }

  .cargo-choice {
    color: black;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    margin-bottom: 40px;

    .active-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $light-blue;
      width: 195px;
      height: 40px;
      background-color: $light-blue;
      color: $white;
      cursor: pointer;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 195px;
      height: 40px;
      border: 1px solid $light-blue;
      cursor: pointer;
    }
  }

  .cargo-input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;

    .input-cargo-example {
      display: flex;
      flex-direction: column;
      margin-right: 40px;

      .input-cargo-label {
        @extend %label;
        margin-bottom: 10px;
      }

      .cargo-input {
        @extend %input;
      }

      .choose-cargo-select {
        width: 130px;
      }

      .dimensions-box-wrapper,
      .dimensions-pallet-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;


        .box-units-wrapper {
          .cargo-input {
            @extend %input;
          }

          .length {
            border-radius: 4px 0 0 4px;
          }

          .width {
            border-radius: 0;
          }

          .height {
            border-radius: 0;
          }
        }

        .pallet-units-wrapper {
          display: flex;
          flex-direction: row;

          .pallet-length {
            @extend %input;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 4px 0 0 4px;
          }

          .width-pallet {
            width: 118px;

            .width-pallet__control {
              border-radius: 0;
            }
          }

          .cargo-input {
            @extend %input;
            border-radius: 0;
          }
        }

        .dimensions-box-select,
        .dimensions-pallet-select {
          width: 80px;

          .dimensions-box-select__control,
          .dimensions-pallet-select__control {
            border-radius: 0 4px 4px 0;
          }
        }
      }

      .weight-cargo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .cargo-input {
          @extend %input;
          border-radius: 4px 0 0 4px;
          width: 60px;
        }

        .weight-select {
          width: 80px;

          .weight-select__control {
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }

    .trash-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cargo-wrapper {
    width: 95%;
    padding: 32px 22px;

    .cargo-input-wrapper {
      .input-cargo-example {
        margin-right: 25px;

        .dimensions-box-wrapper,
        .dimensions-pallet-wrapper {
          .box-units-wrapper {
            .cargo-input {
              width: 60px;
            }
          }

          .pallet-units-wrapper {
            .pallet-length {
              width: 60px;
            }

            .width-pallet {
              width: 78px;
            }

            .cargo-input {
              width: 60px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cargo-wrapper {
    width: 95%;
    padding: 28px 18px;

    .cargo-choice {
      font-size: 14px;

      .active-box-button {
        width: 170px;
        height: 40px;
      }
    }

    .cargo-input-wrapper {
      .input-cargo-example {
        margin-right: 15px;

        .choose-cargo-select {
          width: 85px;
        }

        .count-input {
          width: 50px;
        }

        .dimensions-box-wrapper,
        .dimensions-pallet-wrapper {
          .box-units-wrapper {
            .cargo-input {
              width: 45px;
            }
          }

          .pallet-units-wrapper {
            .pallet-length {
              width: 45px;
            }

            .width-pallet {
              width: 63px;
            }

            .cargo-input {
              width: 45px;
            }
          }
        }

        .weight-cargo-wrapper {
          .cargo-input {
            width: 40px;
          }

          .weight-select {
            width: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cargo-wrapper {
    width: 95%;
    padding: 20px 10px;

    .title-wrapper {
      align-items: center;

      .cargo-all-info {
        width: 265px;
        font-size: 10px;
      }

      .cargo-title {
        font-size: 18px;
      }
    }

    .cargo-choice {
      font-size: 12px;
      margin-bottom: 20px;

      .active-box-button {
        height: 30px;
        width: 140px;
      }
    }

    .cargo-input-wrapper {
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;

      .input-cargo-example {
        margin-bottom: 10px;

        .count-input {
          font-size: 12px;

          &::placeholder {
            font-size: 12px;
          }
        }

        .choose-cargo-select {
          .choose-cargo__placeholder {
            font-size: 12px;
          }

          .choose-cargo__single-value {
            font-size: 12px;
          }
        }

        .dimensions-box-wrapper,
        .dimensions-pallet-wrapper {
          .box-units-wrapper {
            .cargo-input {
              width: 51px;
              font-size: 12px;

              &::placeholder {
                font-size: 12px;
              }
            }
          }

          .dimensions-box-select {
            .dimensions-box-select__placeholder {
              font-size: 12px;
            }

            .dimensions-box-select__single-value {
              font-size: 12px;
            }
          }

          .dimensions-pallet-select {
            .dimensions-pallet-select__single-value {
              font-size: 12px;
            }
          }

          .pallet-units-wrapper {
            font-size: 12px;

            .pallet-length {
              font-size: 12px;
              width: 45px;
            }

            .width-pallet {
              width: 63px;
            }

            .cargo-input {
              width: 45px;
              font-size: 12px;
              &::placeholder {
                font-size: 12px;
              }
            }
          }
        }

        .weight-cargo-wrapper {
          .cargo-input {
            font-size: 12px;

            &::placeholder {
              font-size: 12px;
            }
          }

          .weight-select {
            .weight-select__single-value {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
