@import '../../global';
.order-page-wrapper {
  padding: 0 5%;
  height: 100%;
  background-color: #028090;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  .order-title {
    font-family: 'Montserrat', sans-serif;
    color: $white;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .form-wrapper {
    margin-bottom: 60px;

    .continue-button-first-page {
      position: absolute;
      left: 50%;
      margin-left: -105px;
      width: 210px;
      height: 50px;
      border-radius: 20px;
      background: none;
      border: 2px solid #35d2d2;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #f6fbf9;
      cursor: pointer;
    }

    .buttons-wrapper {
      margin-left: -105px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 450px;
      .continue-button {
        width: 210px;
        height: 50px;
        border-radius: 20px;
        background: none;
        border: 2px solid #35d2d2;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $white;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .order-page-wrapper {
    padding: 0 2%;
    .order-title {
      font-size: 28px;
    }
    .form-wrapper {
      .cargo-wrapper {
        width: 900px;
        .cargo-input-wrapper {
          .wrapper {
            .typeof-cargo {
              width: 140px;
            }
            .sizeof-cargo {
              .size-wrapper {
                .sizeof-cargo-wrapper {
                  input {
                    width: 90px;
                    &::placeholder {
                      font-size: 16px;
                    }
                  }
                }
              }
              .sizeof-cargo-input {
                .sizeof-pallet-wrapper {
                  .select-input-wrapper {
                    .pallet-length {
                      width: 90px;
                    }
                    input {
                      width: 108px;
                    }
                    .units-select-pallet {
                      width: 80px;
                    }
                    .units-width-pallet {
                      width: 108px;
                    }
                  }
                }
                .units-select {
                  width: 80px;
                }
              }
            }
            .weight-cargo {
              margin-right: 15px;
              .weight-cargo-wrapper {
                display: flex;
                .units-select-weight {
                  width: 75px;
                  height: 38px;
                }
              }
              .weight-cargo-input {

                input {
                  width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .order-page-wrapper {
    align-items: center;
    padding: 0 2%;
    .order-title {
      font-size: 28px;
    }
    .form-wrapper {
      .cargo-wrapper {
        width: 630px;
        .cargo-input-wrapper {
          .wrapper {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .typeof-cargo {
              width: 140px;
            }
            .sizeof-cargo {
              margin-top: 10px;
              .size-wrapper {
                .sizeof-cargo-wrapper {
                  input {
                    width: 90px;
                    &::placeholder {
                      font-size: 16px;
                    }
                  }
                }
              }
              .sizeof-cargo-input {
                .sizeof-pallet-wrapper {
                  .select-input-wrapper {
                    .pallet-length {
                      width: 90px;
                    }
                    input {
                      width: 108px;
                    }
                    .units-select-pallet {
                      width: 80px;
                    }
                    .units-width-pallet {
                      width: 108px;
                    }
                  }
                }
                .units-select {
                  width: 80px;
                }
              }
            }
            .weight-cargo {
              margin-right: 15px;
              margin-top: 10px;
              .weight-cargo-wrapper {
                display: flex;
                .units-select-weight {
                  width: 75px;
                  height: 38px;
                }
              }
              .weight-cargo-input {

                input {
                  width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .order-page-wrapper {
    align-items: center;
    .order-title {
      font-size: 24px;
    }
    .form-wrapper {
      width: 98%;
      .cargo-wrapper {
        padding: 5px;
        width: 98%;
        .title-wrapper {
          align-items: center;
          margin-bottom: 20px;
          .cargo-all-info {
            font-size: 11px;
            width: 70%;
          }
          .cargo-title {
            font-size: 20px;
            margin-bottom: 0;
          }
        }
        .cargo-input-wrapper {
          width: 100%;
          .wrapper {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-wrap: wrap;
            width: 100%;
            .typeof-cargo {
              width: 100px;
              margin-bottom: 10px;
            }
            .sizeof-cargo {
              margin-top: 10px;
              .size-wrapper {
                display: flex;
                width: 100%;
                .sizeof-cargo-wrapper {
                  input {
                    width: 45px;
                    &::placeholder {
                      font-size: 16px;
                    }
                  }
                }
              }
              .sizeof-cargo-input {
                .sizeof-pallet-wrapper {
                  .select-input-wrapper {
                    .pallet-length {
                      width: 90px;
                    }
                    input {
                      width: 90px;
                    }
                    .units-select-pallet {
                      width: 80px;
                    }
                    .units-width-pallet {
                      width: 90px;
                    }
                  }
                }
                .units-select {
                  width: 80px;
                }
              }
            }
            .weight-cargo {
              margin-right: 15px;
              margin-top: 10px;
              .weight-cargo-wrapper {
                display: flex;
                .units-select-weight {
                  width: 75px;
                  height: 38px;
                }
              }
              .weight-cargo-input {

                input {
                  width: 70px;
                }
              }
            }
          }
        }
        .cargo-choice {
          .active-box-button {
            font-size: 11px;
            width: 140px;
            height: 30px;
          }
        }
      }
    }
  }
}