@import "../../../global";

.path-container-page {
  height: 100%;
  width: 100%;
  min-height: 900px;
}

.feedback-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .warning-path {
    text-align: center;
    font-size: 18px;
    color: $white;
    margin-bottom: 40px;
  }

  .feedback-form-wrapper {
    background: $white;
    border-radius: 20px;
    padding: 30px 40px;
    width: 750px;

    .shipper-title {
      @extend %tile-title;
      margin-bottom: 20px;
    }

    .shipper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-family: 'Montserrat', sans-serif;

      .input-example {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 50px;
        .error {
          color: red;
          font-size: 10px;
          margin-top: 5px;
        }
        label {
          color: black;
          font-size: 15px;
          font-weight: 400;
          opacity: 0.4;
          margin-bottom: 10px;
        }

        input {
          @extend %input;
          width: 170px;
        }

        textarea {
          width: 690px;
          height: 200px;
          outline: none;
          padding: 5px;
          background-color: hsl(0, 0%, 100%);
          border-color: hsl(0, 0%, 80%);
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          font-family: 'Montserrat', sans-serif;
          resize: none;

          &:focus {
            border-color: $light-blue;
            box-shadow: 0 0 0 1px $light-blue;
          }
        }
      }
    }
    .send-order-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: $white;
      border: none;
      padding: 8px;
      width: 170px;
      height: 40px;
      border-radius: 8px;
      background: $light-blue;
      outline: none;
      margin-top: 20px;
      cursor: pointer;
      margin-right: 30px;
    }
  }

  .loader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    flex-direction: column;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .path-container-page {
    height: 95%;
  }
}
