@import "../../../global";
.path-container-page {
  height: 100%;
  min-height: 1000px;
}

.loader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  flex-direction: column;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}