@import "../../../global";

.path-container-page {
  height: 100%;
  min-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-path {
  height: 700px;
  text-align: center;
  font-size: 18px;
  color: $white;
}

.loader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  flex-direction: column;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}