@import "../../../../global";
.add-service-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: none;
  border: 2px solid #35d2d2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
}