@import '../../../global';
.insurance-wrapper {
  margin-top: 90px;
  height: 70px;
  width: 1050px;
  border-radius: 20px;
  padding: 30px;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
  box-shadow:  5px 5px 10px #aaaaaa,
  -5px -5px 10px #ffffff;
  .title {
    font-weight: 400;
    font-size: 24px;
    color: black;
  }

  input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  }

  input:checked[type="checkbox"] {
    background: $light-blue;
  }

  input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
  }

  input:checked[type="checkbox"]:before {
    left: 20px;
  }
}