@import "../../global";

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: $light-blue;
  box-shadow: 0 0 0 8px rgba(53, 210, 210, 0.4);
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: $white;
}

.how-we-work-wrapper {
  position: relative;
  height: 800px;
  background-color: $dark-blue;
  padding: 0 5%;
  .roadmap-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 60px;
    .circle-container {
      border-left: 1px dashed $light-blue;
      width: 600px;
      height: 570px;
      margin-bottom: 50px;
      li {
        height: 70px;
        position: relative;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 55px;

        span {
          margin-left: calc(45px + 16px);
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          font-weight: 400;
          color: $white;
          width: 470px;
        }
        .circle {
          position: absolute;
          right: calc(100% - 35px);
        }
      }
    }

    .how-we-work-button {
      border: 2px solid $light-blue;
      border-radius: 20px;
      width: 210px;
      height: 50px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      background: none;
      color: $white;
      transform: translateX(-35px);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .description-block {
    position: absolute;
    top: 60px;
    font-family: 'Montserrat', sans-serif;

    .overtitle {
      font-weight: 400;
      font-size: 24px;
      color: $white;
      margin-bottom: 25px;
    }

    .how-we-work-title {
      font-weight: 600;
      font-size: 36px;
      width: 460px;
      color: $white;
      margin-bottom: 45px;
    }

    .how-we-work-image {
      height: 480px;
      margin-left: 50px;
    }
  }
}