@import "../../global";
.card-wrapper {
  margin-right: 110px;
  &:nth-child(3) {
    margin-right: 0;
  }
  .number-wrapper {
    position: relative;
    height: 110px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 120px;
    color: $white;
    margin-bottom: 60px;


    .number {
      opacity: 20%;
    }

    .icon {
      position: absolute;
      top: 80px;
      left: 100px;
    }
  }

  .text-wrapper {
    font-family: 'Montserrat', sans-serif;
    color: $white;
    .advantages-title {
      font-weight: 600;
      font-size: 18px;
      width: 300px;
      margin-bottom: 20px;

      .first-word {
        color: $light-blue;
      }
    }

    .text {
      font-weight: 400;
      font-size: 14px;
      width: 300px;
    }
  }
}