@import "../../global";
.header {
  width: 90%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    .logo-text-block {
      margin-left: 15px;
      font-family: 'Montserrat', sans-serif;
      .logo-main-text {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 5px;
        .format {
          color: black;
        }
      }
      .logo-subtitle {
        font-weight: 400;
        font-size: 11px;
      }
    }
  }
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: black;

    .admin-button {
      color: black;
      background: none;
      border-radius: 8px;
      border: 1px solid $light-blue;
      width: 160px;
      height: 40px;
      margin-right: 40px;
      &:hover {
        cursor: pointer;
      }
    }

    .number {
      margin-right: 65px;
    }

    .mail {
      margin-right: 65px;
    }

    .profile {
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      flex-direction: row;

      img {
        width: 14px;
        height: 14px;
        margin-right: 10px;
      }

      .profile-text {
        font-size: 12px;
      }
    }
  }
}
