@import "../../global";
.header {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background-color: #028090;
  height: 100px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    .logo-text-block {
      margin-left: 15px;
      font-family: 'Montserrat', sans-serif;
      .logo-main-text {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 5px;
        .format {
          color: $white;
        }
      }
      .logo-subtitle {
        font-weight: 400;
        font-size: 11px;
      }
    }
  }
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $white;

    .admin-button {
      color: $white;
      background: none;
      border-radius: 4px;
      border: 1px solid $light-blue;
      width: 160px;
      height: 40px;
      cursor: pointer;
    }

    .number {
      margin-right: 65px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding: 0 2%;
    .logo {
      .logo-text-block {
        .logo-main-text {
          font-size: 18px;
        }
        .logo-subtitle {
          font-size: 8px;
        }
      }
    }
    .contacts {
      font-size: 12px;
      color: $white;
      .admin-button {
        width: 120px;
        height: 30px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 0 2%;
    .logo {
      .logo-img {
        width: 78px;
        height: 63px;
      }
      .logo-text-block {
        margin-left: 10px;
        .logo-main-text {
          font-size: 14px;
        }
        .logo-subtitle {
          font-size: 8px;
        }
      }
    }
    .contacts {
      font-size: 10px;
      color: $white;
      .admin-button {
        font-size: 10px;
        width: 80px;
        height: 20px;
      }

      .number {
        margin-right: 35px;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 2%;
    .contacts {
      font-size: 10px;
      color: $white;
      .admin-button {
        font-size: 10px;
        width: 80px;
        height: 20px;
      }

      .number {
        display: none;
        margin-right: 35px;
      }
      .mail {
        display: none;
      }
    }
  }
}
@media (min-device-width: 414px) and (max-device-width: 896px) {
  .header {
    padding: 0 2%;
    .logo {
      .logo-text-block {
        margin-left: 10px;
        .logo-main-text {
          font-size: 10px;
        }
        .logo-subtitle {
          font-size: 8px;
        }
      }
    }
    .contacts {
      font-size: 10px;
      color: $white;
      .admin-button {
        font-size: 10px;
        width: 80px;
        height: 20px;
      }

      .number {
        display: none;
        margin-right: 35px;
      }
      .mail {
        display: none;
      }
    }
  }
}
@media (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .header {
    padding: 0 2%;
    .logo {
      .logo-text-block {
        margin-left: 10px;
        .logo-main-text {
          font-size: 10px;
        }
        .logo-subtitle {
          font-size: 8px;
        }
      }
    }
    .contacts {
      font-size: 10px;
      color: $white;
      .admin-button {
        font-size: 10px;
        width: 80px;
        height: 20px;
      }

      .number {
        display: none;
        margin-right: 35px;
      }
      .mail {
        display: none;
      }
    }
  }
}
