.departure-country-select {
  margin-bottom: 20px;
  width: 300px;
}

.departure-city-select {
  width: 300px;
}

.check-storage {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  input {
    margin-left: 10px;
  }
}

