@import '../../global';
.nav {
  width: 320px;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: -320px;
  padding: 15px 20px;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  background: #028090;
  z-index: 2000;

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white;
    margin-bottom: 30px;
    transform: translateX(-50%);
    transition: opacity .5s .1s, transform .5s .1s;
    opacity: 0;

    .logo-text-block {
      margin-left: 15px;
      font-family: 'Montserrat', sans-serif;
      .logo-main-text {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .logo-extra-text {
        font-size: 12px;
      }
    }
  }

  .button-in-sidebar{
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $white;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    &:after {
      content: '';
      display: block;
      margin-top: 10px;
      width: 320px;
      height: 1px;
      background: $white;
    }
  }
}

.nav-toggle {
  position: absolute;
  left: 320px;
  top: 1em;
  padding: 0.5em;
  background: inherit;
  color: #dadada;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1;
  z-index: 2001;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.nav-toggle:after {
  content: '\2630';
  text-decoration: none;
}

.nav-toggle:hover {
  color: #f4f4f4;
}

[id='nav-toggle'] {
  position: absolute;
  display: none;
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
  left: auto;
  right: 2px;
  top: 1em;
}

[id='nav-toggle']:checked ~ .nav {
  left: 0;
  box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
  overflow-y: auto;
}

[id='nav-toggle']:checked ~ main > article {
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  transform: translateX(320px);
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
  content: '\2715';
}

body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  to {
    padding: 0;
  }
}

.nav > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav > ul > li {
  line-height: 2.5;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
  -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
  -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
  transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

[id='nav-toggle']:checked ~ .nav > .logo {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}




