@import '../../../../global';
a {
  text-decoration: none;
  text-underline: none;
  color: #333333;
}
.hub-wrapper {
  position: relative;
  width: 250px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $white;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  .delete-hub-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #c6c6c6;
  }
  .countries-hub-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    .source-name {
      margin-right: 10px;
    }
    .destination-name {
      margin-left: 10px;
    }
  }
  .cities-hub-wrapper {
    .hub-type {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}