@import '../../../global';

.customs-clearance-wrapper {
  margin-top: 40px;
  height: max-content;
  width: 1100px;
  border-radius: 20px;
  padding: 30px;
  background-color: $white;
  gap: 20px;
  border: 1px solid gray;
  box-shadow: 0 5px 5px -5px #333;
  margin-bottom: 50px;

  .description-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: .2s;

    .description {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      color: hsl(0, 0%, 50%);
    }
  }

  .title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      margin-right: 20px;
    }

    .title {
      font-weight: 400;
      font-size: 24px;
      color: black;
    }
  }

  input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  }

  input:checked[type="checkbox"] {
    background: $light-blue;
  }

  input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  input:checked[type="checkbox"]:before {
    left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .customs-clearance-wrapper {
    width: 95%;
    padding: 22px;
    margin-top: 60px;

    .title-wrapper {
      .title {
        font-size: 22px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .customs-clearance-wrapper {
    width: 95%;
    padding: 18px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .customs-clearance-wrapper {
    margin-top: 0;
    width: 95%;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 30px;
    .title-wrapper {
      .title {
        font-size: 18px !important;
      }
    }

    .description-wrapper {
      .description {
        margin-top: 20px;
        font-size: 12px;
      }
    }

    input:checked[type="checkbox"]:before {
      left: 20px !important;
    }
  }
}