@import '../../../../../../global';
a {
  text-decoration: none;
  text-underline: none;
  color: #333333;
}
.row-wrapper {
  height: 70px;
  border: 1px solid black;
  border-collapse: collapse;
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    cursor: pointer;
    background: $white;
    .row-main-info {
      display: flex;
      .arrow-icon-up {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        transform: rotate(180deg);
      }
      .arrow-icon-down {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
    }
    .table-info-buttons {
      margin-top: 15px;
      margin-left: 30px;
      .btn {
        height: 30px;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .edit-button {
        width: 120px;
        margin-right: 20px;
        margin-bottom: 10px;
      }
      .delete-button {
        width: 90px;
        margin-bottom: 10px;
      }
      .active-checkbox {
        display: flex;
        align-items: center;
        font-size: 13px;
        input {
          margin-right: 5px;
        }
      }
    }
  }
}