@import '../../../global';
.final-order-page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
    #HERE_MAP_CONTAINER.here-map-container {
      border-radius: 0 20px 20px 0;
      min-height: 400px;
      width: 500px;

      .H_ui {
        display: none;
      }
    }
  .final-map-wrapper {
    display: flex;
    height: 100%;
    width: 1060px;
    margin-bottom: 30px;
    border-radius: 20px;
    .route {
      padding: 40px 30px;
      border-radius: 20px 0 0 20px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 500px;
    }
    .type-of-route-wrapper {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .step-circle {
        border-radius: 50%;
        background-color: $light-blue;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $white;
      }
      .step-wrapper {
        .source {
          font-weight: 700;
          margin-bottom: 10px;
        }
        .route-info {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;

          .truck {
            width: 40px;
          }

          .airplane {
            width: 40px;
          }

          .route-distance {
            color: black;
            opacity: 0.4;
            font-size: 14px;
            margin-right: 10px;
          }
          .route-duration {
            color: black;
            opacity: 0.4;
          }
          .type{
            margin-bottom: 5px;
            margin-right: 10px;
          }
        }
        .destination {
          font-weight: 700;
          margin-bottom: 5px;
        }
      }
    }
  }
  .all-info-route {
    background-color: $white;
    border-radius: 20px;
    width: 1000px;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    .title {
      font-weight: 600;
      font-size: 18px;
    }
  }
  .final-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: max-content;
    border-radius: 20px;
    background-color: $white;
    padding: 40px 30px;
    margin-bottom: 40px;
    .buttons-order-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      .send-order-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $white;
        border: none;
        padding: 8px;
        width: 170px;
        height: 40px;
        border-radius: 8px;
        background: $light-blue;
        outline: none;
        margin-top: 20px;
        cursor: pointer;
        margin-right: 30px;
      }
      .send-email-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: black;
        border: 1px solid $light-blue;
        padding: 8px;
        width: 170px;
        height: 40px;
        border-radius: 8px;
        background: none;
        outline: none;
        margin-top: 20px;
        cursor: pointer;
      }
    }
    .form-warning {
      margin-top: 30px;
      color: red;
    }
    .shipper-title {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .shipper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-family: 'Montserrat', sans-serif;

      .input-example {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 50px;
        .error-message {
          font-size: 10px;
        }
        label {
          color: black;
          font-size: 15px;
          font-weight: 400;
          opacity: 0.4;
          margin-bottom: 10px;
        }
        input {
          width: 200px;
          height: 40px;
          padding: 2px 8px;
          align-items: center;
          background-color: hsl(0, 0%, 100%);
          border-color: hsl(0, 0%, 80%);
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          cursor: default;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          min-height: 38px;
          outline: none;
          position: relative;
          transition: all 100ms;
          box-sizing: border-box;
          font-family: 'Montserrat', sans-serif;
          &:focus {
            border-color: $light-blue;
            box-shadow: 0 0 0 1px $light-blue;
          }

          &::placeholder {
            color: black;
            font-family: "Montserrat", sans-serif;
          }
        }
        textarea {
          width: 690px;
          height: 200px;
          outline: none;
          padding: 5px;
          background-color: hsl(0, 0%, 100%);
          border-color: hsl(0, 0%, 80%);
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          font-family: 'Montserrat', sans-serif;
          resize: none;
          &:focus {
            border-color: $light-blue;
            box-shadow: 0 0 0 1px $light-blue;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .final-order-page-wrapper {
    width: 100%;
    .final-map-wrapper {
      width: 950px;
    }
    .all-info-route {
      width: 890px;
    }
    .final-form-wrapper {
      width: 890px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .final-order-page-wrapper {
    width: 100%;
    .final-map-wrapper {
      width: 740px;
      .route {
        width: 300px;
      }
      #HERE_MAP_CONTAINER.here-map-container {
        width: 400px;
      }
    }
    .all-info-route {
      width: 680px;
    }
    .final-form-wrapper {
      height: max-content;
      width: 680px;
    }
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .final-order-page-wrapper {
    width: 100%;
    .final-map-wrapper {
      width: 100%;
      flex-wrap: wrap;
      .route {
        border-radius: 20px 20px 0 0;
        width: 100%;
      }
      #HERE_MAP_CONTAINER.here-map-container {
        width: 100%;
      }
    }
    .all-info-route {
      flex-direction: column;
      width: 81%;
    }
    .final-form-wrapper {
      flex-direction: column;
      width: 81%;
      height: max-content;
    }
  }
}
