@import '../../../global.scss';

.final-order-page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .all-route-info {
    margin-bottom: 15px;
  }

  .additional-info {
    background-color: $white;
    border-radius: 20px;
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;

    .additional-info-title {
      @extend %tile-title;
    }

    .additional-blocks {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .info-wrapper {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        margin-top: 40px;

        .info-point {
          margin-bottom: 10px;
          font-size: 16px;
          color: gray;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }

  .customs-clearance-wrapper {
    margin-top: 0;
    height: max-content;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    background-color: $white;
    gap: 20px;
    border: 1px solid gray;
    box-shadow: 0 5px 5px -5px #333;
    margin-bottom: 15px;

    .title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        font-weight: 400;
        font-size: 24px;
        color: black;
      }
    }

    .description-wrapper {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      transition: .2s;

      .description {
        margin-top: 10px;
        display: flex;
        font-size: 14px;
        flex-direction: column;
        color: hsl(0, 0%, 50%);
      }
    }
  }

  .final-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 1180px;
    height: max-content;
    border-radius: 20px;
    background-color: $white;
    padding: 40px 30px;
    margin-bottom: 40px;

    .buttons-order-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;

      .send-order-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $white;
        border: none;
        padding: 8px;
        width: 170px;
        height: 40px;
        border-radius: 8px;
        background: $light-blue;
        outline: none;
        margin-top: 20px;
        cursor: pointer;
        margin-right: 30px;
      }

      .send-email-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: black;
        border: 1px solid $light-blue;
        padding: 8px;
        width: 170px;
        height: 40px;
        border-radius: 8px;
        background: none;
        outline: none;
        margin-top: 20px;
        cursor: pointer;
        margin-right: 15px;
      }
    }

    .form-warning {
      margin-top: 30px;
      color: red;
    }

    .shipper-title {
      @extend %tile-title;
      margin-bottom: 20px;
    }

    .shipper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-family: 'Montserrat', sans-serif;

      .input-example {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 50px;

        .error-message {
          font-size: 10px;
        }

        label {
          color: black;
          font-size: 15px;
          font-weight: 400;
          opacity: 0.4;
          margin-bottom: 10px;
        }

        input {
          @extend %input;
          width: 170px;
        }

        textarea {
          width: 690px;
          height: 200px;
          outline: none;
          padding: 5px;
          background-color: hsl(0, 0%, 100%);
          border-color: hsl(0, 0%, 80%);
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          font-family: 'Montserrat', sans-serif;
          resize: none;

          &:focus {
            border-color: $light-blue;
            box-shadow: 0 0 0 1px $light-blue;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .final-order-page-wrapper {
    width: 100%;

    .additional-info {
      width: 94%;
    }

    .final-form-wrapper {
      width: 94%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .final-order-page-wrapper {
    width: 100%;

    .additional-info {
      width: 94%;
    }

    .final-form-wrapper {
      width: 94%;
      height: max-content;

      .shipper {

        .input-example {
          textarea {
            width: 150%;
          }
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .final-order-page-wrapper {
    width: 100%;

    .additional-info {
      width: 94%;
      padding: 10px;
      margin-bottom: 20px;

      .additional-info-title {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 18px;
      }

      .additional-blocks {
        flex-direction: column;
        margin-bottom: 10px;
      }
    }

    .final-form-wrapper {
      flex-direction: column;
      width: 100%;
      height: max-content;
      padding: 10px;

      .shipper-title {
        margin-left: 15px;
        margin-top: 15px;
        font-size: 18px;
        margin-bottom: 10px;
      }

      .shipper {
        margin-left: 15px;
        margin-top: 15px;

        .input-example {
          input {
            font-size: 12px;
          }

          textarea {
            font-size: 12px;
            width: 150%;
          }
        }
      }

      .buttons-order-wrapper {
        margin-bottom: 15px;

        .ant-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
          width: 95px;
        }
      }
    }
  }
}
