@import '../../../global';
.final-order-page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
    #HERE_MAP_CONTAINER.here-map-container {
      border-radius: 0 20px 20px 0;
      min-height: 400px;
      width: 500px;
    }
  .final-map-wrapper {
    background-color: $white;
    width: 1000px;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow:  5px 5px 10px #aaaaaa,
    -5px -5px 10px #ffffff;
    .type-of-route-wrapper {
      font-family: 'Montserrat', sans-serif;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .step-circle {
        border-radius: 50%;
        background-color: $light-blue;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $white;
      }
      .step-wrapper {
        .source {
          font-weight: 700;
          margin-bottom: 10px;
        }
        .route-info {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;

          .truck {
            width: 40px;
          }

          .airplane {
            width: 40px;
          }

          .route-distance {
            color: black;
            opacity: 0.4;
            font-size: 14px;
            margin-right: 10px;
          }
          .route-duration {
            color: black;
            opacity: 0.4;
          }
          .type{
            margin-bottom: 5px;
            margin-right: 10px;
          }
        }
        .destination {
          font-weight: 700;
          margin-bottom: 5px;
        }
      }
    }
  }
  .all-info-route {
    background-color: $white;
    border-radius: 20px;
    box-shadow:  5px 5px 10px #aaaaaa,
    -5px -5px 10px #ffffff;
    width: 1000px;
    padding: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    .title {
      font-weight: 600;
      font-size: 18px;
    }
  }
  .final-form-wrapper {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    height: 550px;
    border-radius: 20px;
    box-shadow:  5px 5px 10px #aaaaaa,
    -5px -5px 10px #ffffff;
    background-color: $white;
    padding: 40px 30px;
    margin-bottom: 40px;
    .shipper {
      display: flex;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      .shipper-title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .input-example {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        label {
          color: black;
          font-size: 15px;
          font-weight: 400;
          opacity: 0.4;
          margin-bottom: 10px;
        }

        input {
          width: 300px;
          height: 38px;
          border: 1px solid $light-blue;
          border-radius: 2px;
          padding: 0 0 0 12px;
          outline: none;
        }
      }
    }
    .consignee {
      display: flex;
      flex-direction: column;
      font-family: 'Montserrat', sans-serif;
      .consignee-title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .input-example {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        label {
          color: black;
          font-size: 15px;
          font-weight: 400;
          opacity: 0.4;
          margin-bottom: 10px;
        }

        input {
          width: 300px;
          height: 38px;
          border: 1px solid $light-blue;
          border-radius: 2px;
          padding: 0 0 0 12px;
          outline: none;
        }
      }
    }
  }
}
